<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
	<meta charset="UTF-8"/>
	<title>Vault TOTP Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Bootstrap -->
	<link href="webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.css" rel="stylesheet"
		  media="screen"/>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="webjars/jquery/1.11.1/jquery.js"></script>
</head>
<body>
<div class="container">
	<header>
		<h1>Vault TOTP Demo</h1>
	</header>
	<section>
		<div class="alert alert-warning">
			<p>This is only <strong>demo site</strong>. It is never safe to transfer TOTP
				secret via <strong>unsecured protocol</strong> or store it in an <strong>unsecured
					cookie</strong>!</p>

		</div>

		<div id="wrapper"></div>
		<div class="row">
			<div class="col-md-4 col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>Generate TOTP</h2>
					</div>
					<div class="panel-body">
						<form method="post" action="/totp/generate"
							  id="generate">
							<div class="form-group">
								<label>Username</label>
								<input name="username" class="form-control"/>
							</div>
							<p>
								<button type="submit" class="btn btn-success">Generate!
								</button>
							</p>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h2>Google Authenticator</h2>
					</div>
					<div class="panel-body">
						<p>You can test generated security codes by using Google
							Authenticator. Guide how to install the application can be
							found at <a
									href="https://support.google.com/accounts/answer/1066447?hl=en"
									target="_blank">Google Help</a>.</p>
						<p>If you will follow the guide use generated barcode or
							information for manual data entry.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</body>
</html>
